*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-color: black;
}

/* header start */

.main{
    display: flex;
    background-image: url(Main.png);
    background-repeat: no-repeat;
    flex-wrap: wrap;
    width: 100%;
}

.left{
    margin: 6px;
}

.left img{
    width: 80px;
    margin-left: 50px;
    filter: invert(100%);
}

.mid{
    flex-wrap: wrap;
    
}
.headdingtop{
    font-family: 'Pacifico', cursive;
    letter-spacing: 5px;
    font-size: 5rem;
    color: rgb(238, 238, 238);
    margin: -8px;
    margin-left: 130px;

}
/* header end */
/* navigation bar start */
.navigation{
    display: flex;
    width:100%; 
    border: 5px solid green;
    background-color: rgb(175, 255, 68);
    justify-content: space-between;
    border-radius: 10px;
    /* position: fixed; */
    flex-wrap: wrap;
    font-family: 'Pacifico', cursive;

}

.navlogo img{
    height: 30px;
    filter: invert(100%);
    margin-left: 15px;
    margin-top: 5px;
}

.ul1{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 5px;
    flex-wrap: wrap;

}

.ul1 a{
    text-decoration: none;
    color: white;
    padding: 50px;
}

/* navigation bar end */
/* section start */
.sec{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    flex-wrap: wrap;

}

.div1{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(175, 255, 68);
}


.div1 img{
    display: block;
    margin:auto;
    margin-top: 20px;
    width: 280px;
}

.div1 h1{
    font-size: 40px;
    padding-top: 10px;

}

.div2{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(175, 255, 68);
}

.div2 img{
    display: block;
    margin:auto;
    margin-top: 20px;
    width: 280px;
}

.div2 h1{
    font-size: 40px;
    padding-top: 10px;
}

.div3{
    height: 400px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(175, 255, 68);
}

.div3 img{
    display: block;
    margin:auto;
    margin-top: 20px;
    width: 280px;
}

.div3 h1{
    font-size: 40px;
    padding-top: 10px;
}












